@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AKS on Azure</h1>
    <p>Learn about <a href="http://deploytoaks0875-deploytoaks0875.d6f5a592e2744d0c95cb.centralus.aksapp.io/">check out the other AKS app</a>.</p>
</div>
